# Basic concepts

We've met many data types and data structures, and we learned how to use them properly. However, when we deal with complex data, it is very convenient to be able to define new data structures that are tailored for our needs. The ability to do that and the corresponding functionalities are called in general Object-Oriented Programming, or in short - OOP. In this course we will not speak about the philosophy behind OOP, but will focus more on the technical details.

Let's reconsider the list object. Generally speaking, before we could do anything with it we had to **initialize** it. We saw several ways for doing that, but they all resulted in a new **instance** of the **class** called "list". For example, the following line of code **instantiates** the **object** _names_, which then becomes an **instance** of the **class** _list_.

In [1]:
names = ['Avi', 'Benny', 'Gil']

We are familiar with the built-in function _type()_, and now we can also get acquainted with the built-in function _isinstance()_.

In [2]:
print(type(names))
print(isinstance(names, list))
print(isinstance(names, float))

<class 'list'>
True
False

As an instance of the class _list_, the object _names_ has (inherently) some **attributes** and **methods** (collectively called **preoperties**), which have been defined (by the authors of Python) for the class _list_. The access to the attributes and the call for the method is done by the '.' (point) character.

Attributes are inherent charteristics, which any instance of the class _list_ has, e.g. length. Similarly, methods are inherent functions, supported by any instance of the class _list_, e.g. _append()_ and _pop()_. Since we created _names_ as a list, which is a predefined class (a built-in type in this case), the attributes and methods of the class _list_ are part of who _names_ is, and this is why they are available for us without the need to define them ourselves.

# Instantiation

The first step of any class is a method called **\_\__init()_\_\_**, which serves as the **constructor** of the class. The constructor is where a new instance of the class is created and also gets the initial values for its **attributes**.

Let's think for a moment what are the attributes that **any** table should have. A table is a collection of records with pre-defined fields. However, when the table is only created, the fields are known, but no record is yet present. Let's see the \_\__init()_\_\_ function of our _Table_ class and then discuss the implementation details.

In [3]:
class Table:
    def __init__(self, fields):
        self.fields = fields
        self.n_fields = len(fields)
        self.records = []
        self.n_records = 0

### Demo

In [4]:
customers = Table(['name', 'address', 'age'])

In [5]:
customers.fields

['name', 'address', 'age']

In [6]:
print(customers)

<__main__.Table object at 0x7f93e014dcd0>

NameError: name 'customers' is not defined

> **Note:** Python doesn't know how to apply the built-in `print()` function to our class. This can be achieved using the concept of [magic functions](https://docs.python.org/3/reference/datamodel.html#special-method-names).

We see that the definition itself is done by the word **class** followed by the name of the class. Then, with proper indentation, the method \_\__init()_\_\_ is defined. It should be noted that a method is defined exactly like a function, and it is only a convention to use this term (method) when referring to in-class functions.

That said, there is a very important difference - the use of the argument _**self**_. _self_ is a special and suitable word that emphasizes the OOP concept, and it indicates that any methods of the class "carry" the information of the instance. All class methods have _self_ as their first input argument, and we will see the importance of that immediately.

The other input (in this case _fields_) is used to initialize the attributes of the new instance. In the example above, _fields_ becomes an attribute with the same name, and another attribute called _records_ is initialized with an empty list.

> **Your turn:** Create a class called `Student` with 3 attributes: `name`,  `id_number` and  `grades` - an empty dictionary at the initialization, which will contain items of the form `{subject: [grade1, grade2,...]}`. Finally, create two instances of `Student`.

# methods

This is how we start, but we still can't do anything useful with the objects we've made. We will now see how to write methods to add functionality to the class.

The first method any _Table_ should have is obviously one that adds a record to it. We remember that methods are simply functions that are "aware" of the (general) instance of which they are part, and that this "awareness" is implemented by "carrying" _self_ as the first input argument. Let's write our first method, _add_\__record_(), and add it to the class implementation.

In [7]:
class Table:
    def __init__(self, fields):
        self.fields = fields
        self.n_fields = len(fields)
        self.records = []
        self.n_records = 0
    
    def add_record(self, rec):
        self.records.append(rec)
        self.n_records += 1

The method _add_\__record_() expects a single input argument - _rec_. Since the method "knows" the details of its caller (represented by _self_), it can append _rec_ to the **existing** list _self.records_. The attribute _n_\__records_ is not changed automatically with the change of _records_, so we have to update it explicitly whenever _add_\__record()_ is called.

It should be noted that the method didn't return anything (well, except _None_), but only altered the calling object. We should be familiar with this behavior from other mutable types like lists and dictionaries.

Let's test our new method.

In [8]:
# Initialization
customers = Table(['name', 'address', 'age'])
print("Current records:", customers.records)
print("Current number of records:", customers.n_records)

Current records: []
Current number of records: 0

In [9]:
# Calling add_record()
customers.add_record(['Russell Crowe', 'Dizengoff 4', 51])
print("Current records:", customers.records)
print("Current number of records:", customers.n_records)

Current records: [['Russell Crowe', 'Dizengoff 4', 51]]
Current number of records: 1

In [10]:
# Calling add_record() again
customers.add_record(['Nicolas Cage', 'Basel 7', 52])
print("Current records:", customers.records)
print("Current number of records:", customers.n_records)

Current records: [['Russell Crowe', 'Dizengoff 4', 51], ['Nicolas Cage', 'Basel 7', 52]]
Current number of records: 2

> **Your turn:** Add to the class `Student` a method called `took_test(self, subject, grade)`, which appends `grade` to the relevant value in `grades`.

> **Note:** It is a good opportunity to learn about [`DefaultDict`](https://docs.python.org/3/library/collections.html?highlight=defaultdict#defaultdict-objects), but the exercise can be solved without it.

## Example

Let's add some more methods to our _Table_ class to facilitate the work with tables. The methods we are going to add are:

* _remove_\__record(self, rec)_ - Removes from _self_ the specified record
* _get_\__column(self, field)_ - Returns a list with the values of the column associated with _field_. This method does **NOT** change _self_.
* _get_\__records(self, field, value)_ - Returns a _**Table**_ instance like _self_, but only with the records that have the value _value_ at the field _fields_. This method does **NOT** change _self_.
* _get_\__fields(self, *fields)_ - Returns a _**Table**_ instance like _self_, but only with the specified _fields_. This method does **NOT** change _self_.

In [11]:
class Table:
    def __init__(self, fields):
        self.fields = fields
        self.n_fields = len(fields)
        self.records = []
        self.n_records = 0
    
    def add_record(self, rec):
        self.records.append(rec)
        self.n_records += 1
        
    def remove_record(self, rec):
        self.records.remove(rec)
        self.n_records -= 1
        
    def get_column(self, field):
        ind = self.fields.index(field)
        return [rec[ind] for rec in self.records]        
                
    def select_where(self, field, value):
        ind = self.fields.index(field)
        ret = Table(self.fields)
        for rec in self.records:
            if rec[ind] == value:
                ret.add_record(rec)
        return ret
            
    def select_cols(self, fields):
        columns = [self.get_column(field) for field in fields]
        records = [list(rec) for rec in zip(*columns)]
        ret = Table(fields)
        for rec in records:
            ret.add_record(rec)
        return ret

### Demonstration

In [12]:
customers = Table(['name', 'address', 'age'])
customers.add_record(['Russell Crowe', 'Dizengoff 4', 51])
customers.add_record(['Nicolas Cage', 'Basel 7', 52])
customers.add_record(['Diane Keaton', 'Basel 9', 52])
print("Current records: {}\nCurrent number of records: {}".format(customers.records, customers.n_records))

Current records: [['Russell Crowe', 'Dizengoff 4', 51], ['Nicolas Cage', 'Basel 7', 52], ['Diane Keaton', 'Basel 9', 52]]
Current number of records: 3

In [13]:
ages = customers.get_column('address')
print(type(ages))
print(ages)

<class 'list'>
['Dizengoff 4', 'Basel 7', 'Basel 9']

In [14]:
aged_52 = customers.select_where('age', 52)
print(aged_52)
print(aged_52.records)

<__main__.Table object at 0x7f93e01266a0>
[['Nicolas Cage', 'Basel 7', 52], ['Diane Keaton', 'Basel 9', 52]]

In [15]:
names_and_ages = customers.select_cols(['name', 'age'])
print(names_and_ages.records)

[['Russell Crowe', 51], ['Nicolas Cage', 52], ['Diane Keaton', 52]]

In [16]:
aged_52_name_and_age = customers.select_where('age', 52).select_cols(['name', 'age'])
print(aged_52_name_and_age.records)

[['Nicolas Cage', 52], ['Diane Keaton', 52]]

# Inheritance

Inheritence facilitates reuse of code, while sharing code between classes.

In python, the parent class is accesible either by naming it direcly - or by using the `super()` construct

In [40]:
class SortedTable(Table):
    def __init__(self, key_field, fields):
        super().__init__(fields)
        assert key_field in fields, "No such key."

Testing whether an object implements a class is done with the `isinstance` function

In [43]:
customers = Table(['name', 'address', 'age'])  
print(isinstance(customers, SortedTable))
print(isinstance(customers, Table))

False
True

In [44]:
customers = SortedTable('address', ['name', 'address', 'age'])  
print(isinstance(customers, SortedTable))
print(isinstance(customers, Table))

True
True

# A moment of Zen

<h1>What is an object ?</h1>

In [46]:
t = Table(['name', 'address', 'age', 'sex'])  
t

In [47]:
dir(t)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_record',
 'fields',
 'get_column',
 'n_fields',
 'n_records',
 'records',
 'remove_record',
 'select_cols',
 'select_where']

In [48]:
t.__dict__

{'fields': ['name', 'address', 'age', 'sex'],
 'n_fields': 4,
 'records': [],
 'n_records': 0}

# A python object is essentially a dict

### except when its not

In [51]:
class TableSlots:
    __slots__ = ["fields", "n_fields", "records", "n_records"]
    def __init__(self, fields):
        self.fields = fields
        self.n_fields = len(fields)
        self.records = []
        self.n_records = 0

In [52]:
ts = TableSlots(['name', 'address', 'age', 'sex'])  
ts

In [53]:
dir(ts)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 'fields',
 'n_fields',
 'n_records',
 'records']

In [55]:
ts.__dict__

AttributeError: 'TableSlots' object has no attribute '__dict__'

# discussion: Do we need slots ?