# The _datetime_ module

The [_datetime_][1] module supplies classes for manipulating dates and times in both simple and complex ways. We will focus on two of them - _datetime_ and _timedelta_.

[1]: https://docs.python.org/2/library/datetime.html "datetime module"

## The _datetime_ class

The _datetime_ class is an abstract data structure for date and time data.

In [1]:
from datetime import datetime

### Instantiation

Like any other class, the instantiation is done by calling the class name.

In [2]:
my_birthday = datetime(1982, 10, 12)
t_login = datetime(2015, 12, 23, 18, 42, 3, 187245)

In [3]:
print(my_birthday)
print(t_login)

1982-10-12 00:00:00
2015-12-23 18:42:03.187245

### Class properties

In [4]:
print("{} {} {}".format(my_birthday.day, my_birthday.month, my_birthday.year))

12 10 1982

### Class methods

#### _date()_ & _time()_

In [5]:
print("{}\n{}".format(t_login.date(), t_login.time()))

2015-12-23
18:42:03.187245

#### _weekday()_

In [6]:
print(my_birthday.weekday())

1

#### _now()_

In [7]:
print(datetime.now())

2019-04-01 18:15:34.076497

#### _strptime(date_\__string, format)_

The _strptime(date_\__string, format)_ method uses _format_ to "translate" _date_\__string_ into an abstract _datetime_ object.

In [8]:
s_bomb1 = "Aug 06, 1945, 8:16 am"
print(datetime.strptime(s_bomb1, "%b %d, %Y, %I:%M %p"))

1945-08-06 08:16:00

In [9]:
s_bomb2 = "06/08/45, 08:16"
print(datetime.strptime(s_bomb2, "%d/%m/%y, %H:%M"))  # Warning: %y -> 2045

2045-08-06 08:16:00

In [10]:
s_bomb3 = "6 August 1945, 8h16m AM"
print(datetime.strptime(s_bomb3, "%d %B %Y, %Ih%Mm %p"))

1945-08-06 08:16:00

The following table is taken from the Python official documentation [here][1]

[1]: https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior "strptime documentation"

![](strptime_formatting.jpg)

> **Note**: There is a method called _strftime(format)_ which does the opposite of _strptime()_.

## The _timedelta_ class

The _timedelta_ class is an abstract data structure for time **durations**.

In [11]:
from datetime import timedelta

### Instantiation

In [12]:
waiting_time = timedelta(minutes=2, seconds=37)
marathon_wr = timedelta(hours=2, minutes=2, seconds=57)

### Class attributes

In [13]:
print(waiting_time.days)
print(waiting_time.seconds)
print(waiting_time.microseconds)

0
157
0

### Class methods

The usefulness of _timedelta_ lies in its arithmetics (magic functions), which also relates it to the _timedelta_ class.

In [14]:
my_age = datetime.now() - my_birthday
print(my_age)

13320 days, 18:15:34.164231

In [15]:
t_start = datetime(2015, 10, 13, 12, 0, 0)
t_stop = t_start + marathon_wr
print(t_stop)

2015-10-13 14:02:57

In [16]:
t_number_one = timedelta(seconds=45)
t_number_two = timedelta(minutes=3, seconds=30)
t_00_per_year = 365 * (5 * t_number_one + 1 * t_number_two)
print(t_00_per_year)

1 day, 20:06:15

## Example

### Part 1

The file _fb_\__wall.htm_ contains the activity log of a Facebook user ([instructions for curious students][1]). Explore the data to make a list of all the dates in which the user had published a new status.

[1]: https://www.facebook.com/help/437430672945092/ "Facebook activity log"

#### Getting the data

In [17]:
import sys

if 'google.colab' in sys.modules:
    from google.colab import files
    uploaded = files.upload()

In [18]:
f_name = 'fb_wall.htm'
with open(f_name, 'r', encoding='utf8') as f:
    my_data = f.read()

#### Preparing the data

In [19]:
# Splitting (ignoring the last item)
my_data = my_data.split('Amit Rappel updated his status.')[:-1]
# item ~ "garbage ... date info ... garbage"

In [20]:
# print my_data[45]

In [21]:
# Roughly ignoring "garbage" data (removing time-zone info)
my_data = [x[-55:-13] for x in my_data]
# item ~ "leftovers ... date info"

In [22]:
print(my_data[45])

ss="meta">Tuesday, July 8, 2014 at 12:18pm

In [23]:
my_data = [x.split('">')[1] for x in my_data]
# item ~ "date info"

In [24]:
print(my_data[45])

Tuesday, July 8, 2014 at 12:18pm

#### formatting the date information

In [25]:
my_dates = [datetime.strptime(x, '%A, %B %d, %Y at %I:%M%p') for x in my_data]
# item ~ datetime.datetime(year, month, day, hour, minute)

In [26]:
print(my_dates[45])

2014-07-08 12:18:00

### Part 2

Answer the following questions based on the variable _my_\__dates_ from part 1

#### How many statuses were published in total, and how many in 2014?

In [27]:
n_statuses = len(my_dates)
n_statuses_2014 = len([x for x in my_dates if x.year == 2014])
print("I posted {} statuses, {} of them during 2014.".format(n_statuses, n_statuses_2014))

I posted 105 statuses, 21 of them during 2014.

#### What was the most prolific month?

In [28]:
per_month = {}
for mon in range(1, 13):
    per_month[mon] = len([x for x in my_dates if x.month == mon])

max_statuses = max(per_month.values())
max_mon = [x for x, y in list(per_month.items()) if y == max_statuses][0]
print("I tend to update my status more frequently on month #{}".format(max_mon))

I tend to update my status more frequently on month #10

#### What was the shortest and longest periods between two consecutive posts?

In [29]:
sorted_dates = sorted(my_dates)
gaps = []
for i in range(n_statuses-1):
    gaps.append(sorted_dates[i+1] - sorted_dates[i])
print("The min gap is {}, and the max gap is {}".format(min(gaps), max(gaps)))

The min gap is 0:26:00, and the max gap is 1034 days, 15:00:00