# Basics

## Exercise 1

Write a function called `calc_box_surface_and_volume(a, b, c)`, that gets the three edges of a box (`a`, `b` & `c`), and returns the surface area of teh box (given by $S=2\times(ab+bc+ac)$) and the volume of the box (given by $V=a \times b \times c$).

### Solution 1

In [0]:
def box_volume(a, b, c):
    volume = a * b * c
    surface = 2 * (a * b + a * c + b * c)
    return volume, surface

## Exercise 2

Write a function called `is_common(s1, s2)`, that gets two strings `s1` and `s2` and returns whether `s1` and `s2` have a common letter or not.

### Solution 1

In [0]:
def is_common(word1, word2):
    for letter in word1:
        if letter in word2:
            return True
    return False

### Solution 2

In [0]:
def is_common(word1, word2):
    return any([letter in word2 for letter in word1])

## Exercise 3

1.	Write a function that gets a string and returns a reversed string.
2.	Use the previous function and write a function that gets a string and returns True if the string is a palindrome and False otherwise.
3.	Write a code that asks the user to enter a word, and then prints whether the word is a [palindrome](https://en.wikipedia.org/wiki/Palindrome) or not.

### Part 1

In [0]:
def rev_string(word):
    rev_word = ''
    for i in range(len(word)):
        rev_word = word[i] + rev_word
    return rev_word

### Part 2

In [0]:
def is_palindrome(word):
    return word == rev_string(word)

### Part 3

In [0]:
word = input('Please enter a word...\n')
filler = '' if is_palindrome(word) else 'not '
print(f"Your word is {filler}a palindrome")

Please enter a word...
abba
Your word is a palindrome

## Exercise 4

Write a function that receives an integer `n` and returns the number of primes up to `n`.

### Solution 1

In [0]:
def is_prime(n):
    if n==1:
        return False
    for d in range(2, int(n**0.5)+1):
        if n%d==0:
            return False
    return True

In [0]:
def count_primes(n):
    return sum(map(is_prime, range(1, n+1)))

### Solution 2

In [0]:
def count_primes(n):
    return len([i for i in range(1, n+1) if is_prime(i)])

# Arguments

## Exercise 1

Write a function called `analyze_class(results, fail=65, excel=95)` which accepts a dictionary `results` of the form `{student: grade}` and returns three lists of names for failed students, excel students and others.

In [0]:
students = {'Avi', 'Ben', 'Carla', 'Debby', 'Eric', 'Fuller', 'Graham', 'Harley', 'Ivona', 'Jenny'}
grades = {58, 87, 45, 88, 97, 68, 92, 86, 73, 99}

results = dict(zip(students, grades))

### Solution 1

In [0]:
def analyze_class(results, fail=65, excel=95):
    failed, passed, exceled = [], [], []
    for student, grade in results.items():
        if grade < 65:
            failed.append(student)
        elif grade <= 95:
            passed.append(student)
        else:
            exceled.append(student)
    return failed, passed, exceled

# Built-in functions

## Exercise 1 (map)

In each round of the game Rock-Paper-Scissors each player chooses randomly a weapon, either Rock (‘R’), Paper (‘P’) or Scissors (‘S’), and the winner is based on the chosen weapon; ‘R’ smashes ‘S’, ‘S’ tear ‘P’, and ‘P’ wraps ‘S’.
1.	Write a function that receives the choices of two players and returns the winner (1 or 2, and 0 for a tie)
2.	Generate manually a list of tuples for simulating the results of 10 rounds (e.g. [(‘R’, ‘S’), (‘P’, ‘S’), …], and use map() to derive a list of the winners in those 10 rounds.

### Solution 1

In [0]:
# Part 1
def RPS_winner(weapon1, weapon2):
    if weapon1 == weapon2:
        return 0
    elif (weapon1, weapon2) in [('R', 'S'), ('S', 'P'), ('P', 'R')]:
        return 1
    else:
        return 2

In [0]:
# Part 2
rounds = [('R', 'S'), ('S', 'R'), ('S', 'R'), ('R', 'P'), ('S', 'S'),
          ('P', 'S'), ('P', 'S'), ('S', 'P'), ('R', 'R'), ('R', 'S')]

player1, player2 = list(zip(*rounds))

winners = list(map(RPS_winner, player1, player2))

## Exercise 2 (sorted)

The dictionary below contains some information about several cities in the world. The data is a list containing the population, and then a tuple with geographical N-coordinate and E-coordinate (for this exercise consider the world as flat)

In [1]:
locations = {'Europe':{'Spain': {'Madrid': [3165000, ((40, 23), (-3, -43))],
                                 'Barcelona': [1602000, ((41, 23), (2, 11))]},
                       'France': {'Paris': [2244000, ((48, 51), (2, 21))],
                                  'Lyon': [485000, ((45, 46), (4, 50))]}},
             'Asia':{'Japan': {'Tokyo': [13350000, ((35, 41), (139, 41))],
                               'Hiroshima': [1174000, ((34, 23), (132, 27))]},
                     'China': {'Beijing': [11510000, ((39, 55), (116, 23))],
                               'Shanghai': [14350000, ((31, 12), (121, 30))]}}}

 * Part 1 - Iterate the dictionary to create a list containing all the inner-most items of the dictionary. 
    * For reference, an exemplary element of the list is `('Madrid', [3165000, ((40, 23), (-3, -43))])`

* Part 2 - Sort the list items by the following criterions:
    * By name (alphabetically)
    * By population
    * From south to north
    * From north to south
    * From east to west

* Part 3 - Jerusalem is located at ((31, 47), (35, 13)). Sort the cities by their distance from Jerusalem.

### Solution 1

In [3]:
# Part 1
cities = []
for continent, continent_dict in list(locations.items()):
    for country, country_dict in list(continent_dict.items()):
        for city, data in list(country_dict.items()):
            cities.append((city, data))
print(cities[0])

('Madrid', [3165000, ((40, 23), (-3, -43))])

In [0]:
# Part 2
cities_by_name = sorted(cities, key=lambda x: x[0])
cities_by_population = sorted(cities, key=lambda x: x[1][0])
cities_south2north = sorted(cities, key=lambda x: x[1][1][0])
cities_north2south = sorted(cities, key=lambda x: x[1][1][0], reverse=True)
cities_west2east = sorted(cities, key=lambda x: x[1][1][1])

In [0]:
# Part 3
jerusalem_loc = ((31, 47), (35, 13))

def dist_from_jer(city):
    return ((city[1][1][0][0]-jerusalem_loc[0][0]) ** 2 + 
            (city[1][1][1][0]-jerusalem_loc[1][0]) ** 2) ** 0.5

cities_by_distance = sorted(cities, key=dist_from_jer)

## Exercise 3 (zip)

The three lists below describe the details of 10 customers, and the same index in each list refers to the same customer (for example Zed is from TLV and is 26 years old).

In [0]:
names = ['Vik', 'Zed', 'Hen', 'Tal', 'Yam',
         'Avi', 'Ben', 'Gad', 'Dan', 'Hed']

cities = ['TLV', 'TLV', 'JER', 'TLV', 'HAI',
          'JER', 'JER', 'TLV', 'JER', 'HAI']

ages = [28, 26, 26, 31, 28, 23, 29, 31, 27, 41]

* Part 1 - Create a list with the names of the customers from Jerusalem
* Part 2 - Create a list with the ages of the people from Haifa
* Part 3 - Create a list with the names of the customers below 30

### Solution 1

In [0]:
part1 = [name for name, city in zip(names, cities) if city=='JER']
part1

In [0]:
part2 = [age for age, city in zip(ages, cities) if city=='HAI']
part2

In [0]:
part3 = [name for name, age in zip(names, ages) if age<30]
part3

# More exercises

## Exercise 1

* Part 1 - Write a Boolean function to test the divisibility of a number by 9.
* Part 2 - Write a Boolean function to test the divisibility of a number by 9.

> **Reference:** [Divisibility rules by Math Is Fun](https://www.mathsisfun.com/divisibility-rules.html)

### Solution

In [0]:
def is_divisible_by_9(n):
    digits = [int(d) for d in str(n)]
    return sum(digits) % 9 == 0

In [0]:
is_divisible_by_9(45)

True

In [0]:
def is_divisible_by_11(n):
    digits = [int(d)*(-1)**i for i, d in enumerate(str(n))]
    return sum(digits) % 11 == 0

In [0]:
is_divisible_by_11(121)

True

## Exercise 2

Given a dictionary of the form `{name: age}`, create a list of the names sorted by their age.

In [0]:
d = {'Avi': 12, 'Ben': 21, 'Gad': 34, 'Dan': 21, 'Efi': 18}

### Solution

In [0]:
print(sorted(d, key=lambda x: d[x]))

['Avi', 'Efi', 'Ben', 'Dan', 'Gad']

## Exercise 3

Write a function which applies the [`replace(old, new)`](https://docs.python.org/3/library/stdtypes.html#str.replace) functionality where `old` and `new` are iterables.

### Solution

In [0]:
def replace_many(s, olds, news):
    for old, new in zip(olds, news):
        s = s.replace(old, new)
    return s

In [0]:
s = 'ABCD%FG&IJKLMNO#QRST*VWXY.'
print(replace_many(s, '%&#*.', 'EHPUZ'))

ABCDEFGHIJKLMNOPQRSTUVWXYZ